.fsb-prompt {
  max-width: 500px;
  margin-top: 52px;
}

.fsb-prompt label {
  display: block;
  margin-bottom: 12px;
}

.fsb-icon {
  max-width: 1em;
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

.fsb-support-note,
.fsb-note {
  font-size: small;
}

.fsb-d-none {
  display: none !important;
}

/* Styles based on the work of the getbootstrap.com team and contributors. */

.fsb-input-group {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin-bottom: 1rem !important;
}

.fsb-input-group-text {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75em;
  color: #3e3e3e;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid silver;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

input.fsb-input {
  background-color: #fff;
  color: #3e3e3e;
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  scroll-margin-top: 80px;
  scroll-margin-bottom: 100px;
  display: block;
  padding: 0.375rem 0.75em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  background-clip: padding-box;
  border: 1px solid silver;
  border-left: none;
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input.fsb-input ::placeholder,
input.fsb-input ::-webkit-input-placeholder,
input.fsb-input ::-ms-input-placeholder {
  color: #3e3e3e;
  opacity: 1;
}

input.fsb-input.fsb-domain{
  width: auto;
}

button.fsb-button {
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  line-height: 1em;
  margin: 0;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid silver;
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-left: -1px;
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
